.leftBar {
  min-width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  padding: 50px 0px;
  background: rgba(143, 145, 255, 0.089);
}

.linksContainer{
  display: flex;
  flex-direction: column;
}

.createFolder {
  margin-bottom: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  background: rgba(101, 135, 222, 0.65);

  &:hover{
  background: rgba(101, 135, 222, 1);
  cursor: pointer;
  }

}
